.operating-pic {
  height: 300px;
  width: 350px;
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
  .operating-pic {
    height: 240px;
    width: 250px;
  }
}

.heading2 {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
  .heading2 {
    font-size: 13px;
    margin-left: 10px;
  }
}

.start-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
  .start-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.integration {
  height: 80px;
  width: 180px;
  background-color: white;
  box-shadow: 0 5px 30px rgb(41 41 59 / 10%);
  border-radius: 5px;
  margin: 4px;
  padding: 3px;
}

.works-on {
  height: 80px;
  width: 150px;
  background-color: white;
  box-shadow: 0 5px 30px rgb(41 41 59 / 10%);
  border-radius: 5px;
  margin: 4px;
  padding: 3px;
}

.icon {
  height: 24px;
  width: 24px;
  margin: 3px;
}

.icon1 {
  height: 104px;
  width: 150px;
  margin: 3px;
}

.operating-para {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  color: #8a8a8a;
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
  .operating-para {
    font-size: 11px;
    margin: 5px;
    padding: 5px;
  }
}

.int-heading {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin: 3px;
  padding: 2px;
  font-weight: bold;
}

@media only screen and (max-width: 440px) {
  .int-heading {
    font-size: 11px;
  }
}

.operating {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
  .operating {
    display: flex;
    flex-direction: column;
  }
}

.op {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
  .op {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
  .operating {
    display: flex;
    flex-direction: column;
  }
}

.operating {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.operating-service {
  height: 145px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
}

.operating-service:hover {
  box-shadow: 0 5px 30px rgb(41 41 59 / 10%);
}
